PORT=8000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vidyut_db?schema=public"
JWT_SECRET="vidyut_jwt_super_secret_signing_key_2026"
JWT_SECRET_KEY="vidyut_sih_2026_super_secret_jwt_key"
NODE_ENV="development"
